body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.outer{
    background:skyblue;
   margin: auto;

}
.para{
    padding-left: 25%;
    color: white;
}
h1{
   margin-left: 3%;
    font-weight: 100px;
}
h2{
    margin-left: 15%;
    color:white;
}
.img{
    border-radius: 5%;
    margin-top: -21%;
    margin-left:-80%;
  }
  .listdiv{
      background-color:black;
      margin-top: 5%;
    width: 30%;
    border: 3px solid green;
    padding: 3%;
    color: yellow;
}
.inter1{
    background-color: wheat;
    padding: 2%;
    color: black;
    margin-top:5% ;
}
